<h1 class="mx-auto p-3">Chat</h1>

<h5 class="mx-auto p-3">Nuevo Mensaje</h5>

<section class="mx-auto p-3">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input class="form-control" id="inputName" disabled>
    </div>

    <div class="mb-3">
        <label for="message" class="form-label">Message</label>
        <input class="form-control" id="inputMessage" placeholder="Message...">
    </div>

    <button type="button" class="btn btn-primary" id="btnSubmit">Submit</button>
</section>


<h5 class="p-3">Mensajes</h5>
<div id="messagesDiv"></div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.2/dist/sweetalert2.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
<script src="/js/chat.js"></script>
